input[type="file"] {
  /* display: none; Hide the default file input */
  justify-content: center;
}

#uploadButton {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

#uploadButton:hover {
  background-color: #97a050;
}

#uploadButton:active {
  background-color: #3e8e41;
}

#previewImage {
  max-width: 300px;
  max-height: 300px;
  margin-top: 10px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 30px auto;
  text-align: center;
  justify-self: center;
}

form {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  margin: 0 auto;
}

label {
  display: block;
  font-weight: bold;
  margin-left: 20px;
  padding: 10px;
  font-size: 15px;
}

input {
  width: 60%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: auto;
}

input[type="submit"] {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
} 

 button :hover {
  background-color: #45a049;
}

.error {
  color: red;
  margin-top: 0.5rem;
}

button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
} 
