* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

button {
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  border: none;
}

a {
  color: unset;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}
